@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    border: 20px solid #bdc3c7;
    border-radius: 10px;
    margin: 20px 20%;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    letter-spacing: 3.2px;
    font-size: 48px;
    font-weight: bold;
    color: #3d3d3d;
    margin: 0;
    padding: 10px
}

h2:hover {
    text-align: center;
    letter-spacing: 10px;
}

div.first {
    border-bottom: 10px solid #bdc3c7;
    padding: 10px;
}

.date {
    color: #3498DB;
    text-transform: uppercase;
    text-align: right;
    border: none;
}

#right {
    text-align: right;
}

#center {
    text-align: center;
    border-bottom: 5px solid #bdc3c7;
    border-top: 5px solid #bdc3c7;
    padding: 5px;
}